.cardProducto {
    background: linear-gradient( #e72a00, #090605) ;
    border-radius: 10px;
    width: 20rem;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardProducto img {
    width: 250px;
    object-fit: contain;
}

.cardProducto button {
    background-color: black;
    color: black;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
}